@font-face {
  font-family: "Digital Font";
  src: url("fonts/Digital7Mono-Yz9J4.ttf") format("ttf"),
    url("fonts/digital7mono-yz9j4-webfont.woff2") format("woff2"),
    url("fonts/digital7mono-yz9j4-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 600px;
  padding: 25px;
  margin: 25px auto;
  background: #c9d7ce;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -15px 0px inset;

  border-radius: 10px;
}
body {
  background-color: #6f9283;
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
h2 {
  margin: 0;
  color: #427762;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
select {
  display: block;
  font-size: 18px;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}
.city {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 31px 0;
  padding: 25px 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
  color: #536d62;
  font-family: "Times New Roman", Times, serif;
}
.time {
  font-size: 52px;
  font-family: "Digital Font";
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: -1px 1px 5px rgb(0, 0, 0);
}
.time small {
  font-size: 26px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-family: monospace;
  color: rgb(0, 0, 0, 0.7);
}
footer a {
  text-decoration: none;
  line-height: 1px;
  color: rgb(255, 255, 255);
}
footer a:hover {
  font-weight: 600;
}
